.Login{

    text-align: center;
    justify-content: center;
    width: 400px;
    background: #fff;
}

.Reset{
    text-align: center;
    justify-content: center;
    width: 400px;
    background: #fff;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close {
    margin-left: 93%;
    right: 6px;
    top: 9px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.modal-close:hover {
    background: #567ee8;
}
